h1 {
  font-size: 34px;
  line-height: 48px;
  font-weight: 900;
  color: #272044;
}
body {
  margin: 20px;
  padding: 20px;
  font-family: "Rokkitt", serif;
}
.col {
  margin-bottom: 5px;
}
.card {
  background-color: #ffedd3;
  border-radius: 30px;
  max-width: fit-content;
}
.card-header {
  background-color: transparent;
}
